@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

* {
  padding: 0;
  margin: 0;
}

body, #root, .leaflet-container {
  height: 100vh;   
}

table {    
  position: absolute;   
 /*  width: 80vw;  */ 
  bottom: 0;     
  background-color: #c4c4c4; 
  border: 1px solid #fff;  
  z-index: 400;
}

caption {
  width: 100%;
}

.displayNone {
  display: none;
}

.displayOn {
  display: block;
}