@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

* {
  padding: 0;
  margin: 0;
}

body,
#root,
.leaflet-container {
  height: 100vh;
}

table {
  position: absolute;
  box-sizing: border-box;

  width: 60vw;
  padding: 1rem;
  bottom: 2rem;
  left: calc((100% - 60vw)/2);

  background-color: #fff;
  border-radius: 8px;

  color: #4c4c4c;
  line-height: 1.25;

  z-index: 400;
}

/* tr {
  display: flex;
  width: 60vw;
  align-items: center; 
} */

th {
  box-sizing: border-box;

  text-align: left;
  padding: .5rem 1rem .5rem 0;
}

td {
  padding: 0;
}

tbody>tr:first-child>th {
  padding-top: 0;
}

tbody>tr:last-child>th {
  padding-bottom: 0;
}

.displayNone {
  display: none;
}

.displayOn {
  display: block;
}

.btn.-close {
  position: absolute;
  right: 1rem;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}